<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100vh;
            background-color: #add8e6; /* Light Blue background */
        }
        h1 {
            color: #333;
        }
    </style>
</head>
<h1> Thank you for trying this application !!!!</h1>
<body>
    <p>The application needs improvement. Kindly reach out to me for suggestions. Thank you!!!</p>
    
    
</body>
</html>
